Maxtimesteps: 1000
ControlInterval: 0.01
isRandomInit: 1
ResetPortTimeout: 120
dim_u: 4
dim_y: 6

CalLogName: ModelLastCal.txt
Client_path: Model2SPCK_client.py
SPCK_path: /home/yaoyao/Simpack-2021x/
Work_path: /home/yaoyao/Documents/SimpackFiles/04_GeneralModel
Spck_name: Model.spck

mainServer_IP4: 117
Server_workers: 10
this_StartWith: 0
this_Workers: 5

以下为注释段落：
mainServer_IP4 = 117 表示主机地址为192.168.1.117
Server_workers = 10  表示训练主服务器需要开启10个端口，用于接收本机与其他实体机的仿真连接数
this_StartWith = 0   表示本机Client端口是从9900+this_StartWith开始
this_Workers = 10    表示本机具有10个仿真Clients






                   



