Maxtimesteps: 1000
ControlInterval: 0.01
isRandomInit: 1
num_workers: 10
ResetPortTimeout: 120
dim_u: 4
dim_y: 6

CalLogName: ModelLastCal.txt
Client_path: Model2SPCK_client.py
SPCK_path: /home/yaoyao/Simpack-2021x/
Work_path: /home/yaoyao/Documents/SimpackFiles/04_GeneralModel
Spck_name: Model.spck



                   



